.container {
  display: flex;
  flex-direction: column;
  height: 14%;
  width: 100vh;
  align-items: flex-start;
  justify-content: left;
  /* background: linear-gradient(orange, white, green); */
}
/* .card{
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 20vw;
} */
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  height: 15vh;
  width: 25%;
}
.avatar > img {
  display: flex;
  height: 15vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.id {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  width: 100%;
}
.name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3vh;
  width: 100%;
  font-size: 100%;
  font-family: 'Times New Roman', Times, serif;
}
.field {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
  width: 100%;
  font-size: 100%;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 20%;
  height: 20vh;
  width: 100%;
  font-size: 100%;
}
